<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <constructor-arg name="driverClassName" value="org.h2.Driver" />
        <constructor-arg name="url" value="jdbc:h2:tcp://localhost/~/transaction" />
        <constructor-arg name="username" value="minorius" />
        <constructor-arg name="password" value="170190" />
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="dataSource" />
    </bean>



    <bean id="tableUtil" class="TableUtil">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="carDaoImpl" class="service.CarDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="engineDaoImpl" class="service.EngineDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="wheelsDaoImpl" class="service.WheelsDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>

    <bean id="dorDaoImpl" class="service.DorDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate" />
    </bean>




    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <tx:annotation-driven transaction-manager="txManager"/>


</beans>